body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: bisque;
    background-position: center top;
    background-size: cover;
    color: white;
    font-family: Garamond, Tahoma;
    font-size: 35px;    
}
h2, p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: black;
}
.red{
    color:blue
}
.under{
    color:blueviolet;
    font-size: 1.8rem;
}
.divider{
    border-bottom: 4px solid black;
    margin: 2px 0;
}